{% extends 'parts/base.html' %}
{% block header %}
    <div class="container" style="background-color: lightgreen; padding: 1rem; margin-top: 2em">
    <div class="flex-md-row">
            <div class="col-lg-12 col-12">
                <h3 class="text-center">Resume</h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                  <h3 class="mb-3">Experiences</h3>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2021</span>
                             </div>
                             <div class="timeline-info">
                                  <h4><span>Web Developer</span><small>Django</small></h4>
                                  <p>O'zbekiston Respublikasi Vazirlar mahkamasi huzuridagi
                                      Davlat test markazi huzuridagi Ilmiy-o'quv amaliy markazi AKT bo'limi</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2020</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>Stajyor tadqiqotchi</span><small>Bio-Informatika</small></h4>
                                <p>O'zb Respublikasi FA huzuridagi I.V.Romanovskiy nomidagi matematika instituti Bio-informatika bo'limida</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2019</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>O'qituvchi</span><small>Informatika</small></h4>
                                <p>Toshkent shahri Olmazor tumanidagi 243-maktabda informatika o'qituvchisi</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h3 class="mb-3 mobile-mt-2">Educations</h3>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2019</span>
                             </div>
                             <div class="timeline-info">
                                  <h4><span>Magistr</span><small>O'zMU</small></h4>
                                  <p>2019-2021y Mirzo Ulug'bek nomidagi O'zbekistom Milliy Universiteti
                                      Amaliy matematika va intellektual tahlil fakulteti Axborot tizimlari yo'nalshi magistranti</p>
                             </div>
                        </div>
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2018</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>Android Development</span><small>PDP</small></h4>
                                <p>PPD da Android Development kursini o'qiganman.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2015</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>Bakalavr</span><small>O'zMU</small></h4>
                                <p>2015-2019y Mirzo Ulug'bek nomidagi O'zbekistom Milliy Universiteti
                                      Amaliy matematika va intellektual tahlil fakulteti Amaliy matematika va informatika yo'nalishi bakalavri</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}